h1{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
h2{
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
.textCenter{
    text-align: center;
}
.boxHeading{
    margin: auto;
    width: 50%;
    height: 500px;
    border-width: 2px;
    border-style: solid;
    border-color: rosybrown;
    padding-left: 10px;
    padding-right: 10px;
}
.box{
    margin: auto;
    width: 60%;
    height: 150px;
    padding-top: 40px;
    background-color: mistyrose;
}
input{
    width: 150px;
    height: 20px;
    border-width: 2px;
    padding:5px;
    margin-bottom: 10px;
}